// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.events {
  li.first {
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 7px;
    margin-bottom: 7px;
  }
}

.participant-name {
  margin-bottom: 7px;

  input.form-control.half {
    width: 50% !important;
  }
}

#event.page-header {
  margin-top: 0;

  h1 {
    margin: 0;
  }
}

#event.page-header .nav-pills, ul.events {
  li.active > a, li.active > a:hover, li.active > a:focus {
    color: #555;
    background-color: #e7e7e7;
  }
}